@model IEnumerable<Web.Models.Course>

@{
    ViewBag.Title = "Index_Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>課程</h2>

<p>
    @Html.ActionLink("新增課程", "Create_Course")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.ActionLink("查看課程", "Details_Course", new { cid = item.CID, tid = item.TID }) 
            </td>
        </tr>
    }

</table>
